
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Outfit:wght@400;500;600;800&display=swap');

// Font Family
$Montserrat:  'Montserrat', sans-serif;
$Outfit: 'Outfit', sans-serif;

// Font Height
$thin: 400;
$med: 500;
$bold: 600;
$extra: 800;


// Color 
$white: #f4f6ff;
$buttonc: #e6e7fd;